.catalogue .cartProduk{
    width: 31%;
    height: 300px;
}

.starter{
    height: 600px;
}

.detail .cartProduk{
    height: 570px;
}

.btn{
    font-size: 25px;
}

.detail img{
    /* width: 40%; */
    height: 350px;
}
